
<!-- Name received from parent is:{{ name }}
<hr>

Message to parent:
<input type="text" [(ngModel)]="message" (input)="txtchanged()">
{{message}} -->

<!-- Task -->
<!-- <input type="text" [(ngModel)]="message2">
Name received from parent is : {{name1}}
<br><br>

<button (click)="clicked()">Click</button> -->


<!-- Task2 -->
Child Side: <br>
<input type="text" placeholder="Enter Name" [(ngModel)]="name2"><br><br>
<input type="text" placeholder="Enter City" [(ngModel)]="city2"><br><br>

Parent-Name is: {{parentobj1.name1}}
<br>
Parent-City is:{{parentobj1.city1}}
<br><br>
<button (click)="butfun1()">Click</button>
